body {
	text-align: center;
	font-family: Helvetica;
	background-color: #b6e8aa;
}
h1 {

}
#slogan {
	font-family: Arial;
	font-size: 55px;
	font-style: italic;
}
#contact {
	text-align: center;
}
ul {
	text-align: left;
	font-size: 32px;
}